<template>
  <div>
    <p class="text">Вітаємо на офіційному сайті нашого університету </p>
    <p class="text">Тут ви зможете переглянути ваш розклад і бути впевненими у парах на день</p>
  </div>
  <div>
    <img src="@/assets/uni.png" alt="image" class="image">
  </div>
</template>

<script>
  export default {
    name:'HomeView'
  }
</script>

<style>
.text {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.image{
  width: 450px;
  height: 450px;
}
</style>