<template>
    <div class="student-view">
        <div v-if="currentItem">
            <h1>{{ currentItem.student }}</h1>
            <p>Перша пара: {{ currentItem.lesson1 }}</p>
            <p>Друга пара: {{ currentItem.lesson2 }}</p>
            <p>Третя пара: {{ currentItem.lesson3 }}</p>
            <p>Четверта пара: {{ currentItem.lesson4 }}</p>
            <p>Секція: {{ currentItem.section }}</p>
            <button @click="goToTimetablePage">Повернутися до розкладу</button>
        </div>
        <div v-else>
            <p class="not-found-message">Recipe not found</p>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'IndividualItemView',
  data() {
      return {
          currentItem: {}
      }
  },
  computed: {
      ...mapGetters('timetable', ['getItemById']),
      itemId() {
          return this.$route.params.id
      },
  },
  created() {
      if (this.itemId)
          this.currentItem = { ...this.getItemById(this.itemId) };
  },
  methods: {
      goToDetailsPage(studentId) {
          this.$router.push({ name: 'timetable-student', params: { itemId: studentId } });
      },
      goToTimetablePage() {
          this.$router.push({ name: 'timetable' });
      },
  }
}
</script>

<style>
button {
  padding: 10px 20px;
  background-color: #e07de3; /* Bootstrap's info color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e07de3; /* Darker shade on hover */
}
</style>
