<template>
    <div id="app">
      <div v-if="isLoading">Loading ......</div>
      <div v-else>
        <div>
            <label for="filterSection">Фільтрувати за секцією: </label>
            <select v-model="selectedSection" id="filterSection">
            <option value="">Всі</option>
            <option v-for="section in uniqueSections" :key="section" :value="section">{{ section }}</option>
            </select>
        </div>

        <table>
          <thead>
            <tr>
              <th>Студент</th>
              <th>Перша пара</th>
              <th>Друга пара</th>
              <th>Третя пара</th>
              <th>Четверта пара</th>
              <th>Секція</th>
              <th>Дії</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in filteredItems" :key="item.id">
              <td>{{ item.student }}</td>
              <td>{{ item.lesson1 }}</td>
              <td>{{ item.lesson2 }}</td>
              <td>{{ item.lesson3 }}</td>
              <td>{{ item.lesson4 }}</td>
              <td>{{ item.section }}</td>
              <td>
                <br>
                <router-link :to="{ name: 'timetable-student', params: { id: item.id } }">
                  <button class="view-button">Переглянути</button>
                </router-link>
                <button @click="deleteItem(item.id)">Видалити</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="form-container">
          <div class="form-field">
            <label for="student">Студент</label>
            <input v-model="timetable.student" type="text" id="student" />
          </div>
          <div class="form-field">
            <label for="lesson1">Перша пара</label>
            <input v-model="timetable.lesson1" type="text" id="lesson1" />
          </div>
          <div class="form-field">
            <label for="lesson2">Друга пара</label>
            <input v-model="timetable.lesson2" type="text" id="lesson2" />
          </div>
          <div class="form-field">
            <label for="lesson3">Третя пара</label>
            <input v-model="timetable.lesson3" type="text" id="lesson3" />
          </div>
          <div class="form-field">
            <label for="lesson4">Четверта пара</label>
            <input v-model="timetable.lesson4" type="text" id="lesson4" />
          </div>
          <div class="form-field">
            <label for="section">Секція</label>
            <input v-model="timetable.section" type="text" id="section" />
          </div>
         
          <button @click="addItem(timetable)">Додати</button>
        </div>
        <hr />
      </div>
      <router-view />
    </div>
  </template>
  
  <script>
  import { mapGetters, mapActions } from 'vuex';
  import IndividualItemView from './IndividualItemView.vue';
  
  export default {
  name: 'TimeTable',
  component: IndividualItemView,
  data() {
    return {
      timetable: {},
      selectedSection: '',
    };
    
  },
  computed: {
    ...mapGetters('timetable', ['getItemsList', 'isLoading']),
    uniqueSections() {
      return [...new Set(this.getItemsList.map(item => item.section))];
    },
    filteredItems() {
      return this.selectedSection
        ? this.getItemsList.filter(item => item.section === this.selectedSection)
        : this.getItemsList;
    },
  },
  created() {
    this.loadList();
  },
  methods: {
    ...mapActions('timetable', ['loadList', 'addItem', 'deleteItem', 'updateItem', 'loadFilteredData']),
  },
    viewItem(id) {
        // Navigate to the detail view page
        this.$router.push({ name: 'timetable-detail', params: { id } });
      },
};
  </script>
  
  <style scoped>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  .form-field {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #d384e3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d384e3;
  }
  </style>
  